<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Python-JS Flask Test</title>
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <script src="../static/js/jquery-3.1.1.js"></script>
</head>
 
<body>
    <div class="container">
        <div class="jumbotron">
        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Record history</button>
        </div>
    </div>
    
    <p>I know tweets, I have the best tweets. {{ variable }}</p>
</body>
 
</html>
